.main-nosotros{
    .div-nosotros {
        @include flex(center, center, column);
        padding: $m-1;
        width: 100%;
        }        
        .nosotros-p {
            @include flex(center, center, column);
            position: relative;
            padding-left: 15px;
            padding-right: 30px;
            p{
                width: 80%;
                padding: 10px;
                color: #e9c46a;
                font-size: 30px;
                
            }
        }

    }
