.main-contacto {
    @include flex(center, center, row);
    .card-contacto {
        @include flex(center, center, column);
        margin: $m-1;
        background-color: #d3c091;
        font-size: $m-1;
        padding: 15px;
        box-shadow: $shading;
        border-radius: 15px;
        margin-top: 30px;
        .form-contacto{
            width: auto;
            box-sizing: border-box;
        }
    }
    .mapa{
        margin: 0, $m-1;
    }
}
.submit {
    background-color: #629982;
}