.main-productoslib {
    .card-libreria{
        @include flex(space-around, center, row);
        gap: $m-1;
        padding: 15px;
        .card {
            box-shadow: $shading;
            height: 400px;
            &:hover{
                transform: scale(1.1);
            }            
            img {
                @include estilos-tarj(auto, 250px, 0);
                @extend %estilos;
            }
            .card-body{
                    height: 150px;
                    padding: 10px;
            }
            
        }
    }
}
