/*Mi Media Queries*/


/*Mi Media Queries tablet (768px-1024px ) */
@media only screen and (max-width: 1023px){
    .color-g{
        width: 100%;
    }
    .menu {
        flex-basis: 0;
        ul {
            li{
                font-size: $m-1;
            }
        }
    }

    /* Main Index*/
    .section-destacados{
        .card-destacados {
            align-items: center;
            flex-direction: row;
            font-size: 10px;
            justify-content: space-around;
            .div-destacados{
                margin: 50px;
                .card-texto{
                    h5{
                        font-size: 30px;
                    }
                }
            }

        }
    }


    .position-fixed{
        img {
        width: 60px;
        }
    }

    h1, h2, h5{
        font-size: 50px;
    }
    /* Contacto*/
    .main-contacto{
        .card-contacto {
            width: 400px
        }
    
    }


    /* MQ Artística grid*/
    .main-grid{
        .contenedor-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 300px);
            img {
                height: 250px
            }
        }
    }

    /* Librería*/
    .card-libreria{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }  
    /*Nosotros*/
    
    .div-nosotros p{
        font-size: 30px;
    }

    /*Medio de pago*/
    footer{
        .medios-pago{
            padding: 10px;
        }
        .div-footer{
            a{
                margin: 0;
            }
        }
    }
}
    
/* Media Queries mobile (320px-768px)*/
@media screen and (max-width: 767px) {  
    /* Header*/
    
    body {
        font-size: $m-1;
    }
    header{
        section{
            nav{
                flex-wrap: nowrap;
                margin: 0;
                height: 200px;
                position: relative;
                z-index: 1000;
                .container-fluid {
                    padding: 0;
                    margin: 0;
                    a{
                        font-size: 15px;
                        margin-top: 0;
                        padding: 0;
                        width: 100px;
                        height: 100px;
                            img{
                                width: 100px;
                                height: 100px;
                                margin: 0;
                            }
                    }
                    
                    button {
                        margin: 10px;
                        padding: 0;
                        width: 100px;
                        height: 100px;
                        .navbar-toggler-icon {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }

    .menu ul{
        padding: 0;
        align-items: end;
        font-size: 10px;
        li{
            font-size: 10px;
        }
    }
    /* Main Index*/
    .card-destacados {
        align-items: center;
        flex-direction: column;
        font-size: 10px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }

    /*Nosotros*/
    .main-nosotros{
        .div-nosotros{
            .nosotros-p{
                p{
                    font-size: $m-1;
                }        
            }
        }
    }

    /*Artística Grid*/
    .main-grid{
        margin: $m-1;
        .contenedor-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 200px);
            gap: 10px;
            justify-items: center;
            .card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
                        img {
                            height: 150px;
                            width: 200px;
                        }
                        .texto-1, .texto-2, .texto-3, .texto-4, .texto-5, .texto-6 {
                            width: 100%;
                            height: 150px;
                        }
            }
        }
    }
    /*Librería*/
    .main-productoslib {
        display: flex;
        justify-content: center;
        align-items: center;
            .card-libreria {
            display: flex;
            flex-direction: column;
            gap: $m-1;
            padding: 15px;
            margin: 0 10px;
            .card {
                height: auto;
                img {
                    height: 250px;
                    width: 100%; 
                    justify-content: center;
                    padding: 10px;
                }
                .card-body {
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 0; 
                    h4{
                        margin: 0;
                        font-size: 15px;
                    }
                    h5{
                        margin: 0;
                        font-size: $m-1;
                    }
            }
        }
    }
}      

        
    /* Contacto*/
    .main-contacto {
        flex-direction: column;
        .card-contacto {
            width: auto;
            margin: 20px; 
            font-size: 10px; 
            padding: 10px; 
            margin-top: $m-1;
        }
    }





    
    /*Footer*/
    footer{
        .medios-pago {
            font-size: 5px;
        }
        .div-footer {
            padding: 10px;
            gap: 0;
        }
    }
    .copyright{
        font-size: 8px;
    }
}







