footer{
    .medios-pago{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        img{
            width: 30px;
        }
    }
    .div-footer {
        display: flex;
        padding: 20px;
        justify-content: center;
        gap: 30px;
        a{
            display: flex;
            margin: 30px;
            padding: 15px;
            .logo-footer {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.position-fixed {
    position: fixed;
    right: 20px;
    bottom: 100px;
    img{
        width: 80px;
    }
}